/* Basic reset to ensure consistent styling across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  /*padding: 20px;*/
}


/* Style for main */
main {
    padding: 20px;
    margin: 20px;
}



/* Navbar styles */
.navbar {
    background-color: #3F648C; /* Dark background color */
    padding: 10px 0; /* Vertical padding */
    display: flex;
    
}

.nav-list {
    list-style: none; /* Remove bullet points */
    display: flex;
    justify-content: left; /* Center the nav items */
}

.searchbar {
    display: flex;
    width: auto;
    justify-content: right;
    margin-left: auto;  
}

form {
    border: 1px;
    border-color: white;
    padding: 5px;
    margin-right: 15px;
}

/*Search bar */
.searchbar input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}


.nav-item {
    margin: 0 15px; 
}

.nav-link {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
    transition: background-color 0.3s ease; 
}

.nav-link:hover {
    background-color: #345479; /* Darker background on hover */
}



/* Style for sort buttons */
.sort-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 10px;
}

.dropbtn {
    background-color: #84A9CD;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.sort-dropdown:hover .dropbtn {
    background-color: #84A9CD;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    top: calc(100% + 20px); /* Position the dropdown below the button */
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex; /* Use flexbox */
    align-items: center;
    justify-content: space-between; /* Ensure space between text and arrow */
    border-radius: 5px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.sort-dropdown:hover .dropdown-content {
    display: block;
}

/* Arrow icon styling */
.sort-arrow {
    width: 12px;
    height: 12px;

}



/* Styling of books and authors on book/author pages */

article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between items */ 
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}


.book, .author {
    flex: 1 1 calc(25% - 20px); /* 4 items per row, accounting for gap */
    background-color: #84A9CD;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
}


.authors_books {
    flex: 0 1 calc(calc(100% / 6) - 20px);
    background-color: #84A9CD;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
}


.authors_books img {
    height: 275px;
}




img {
    height: 325px;
}




/* Image caraousel */

.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.index-book {
        background-color: #84A9CD;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        font-size: 1.2rem;
        margin: 20px;
        
    }


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .index-book {
        flex: 1 0 50%; /* Show 2 images at a time on smaller screens */
    }
}

@media (max-width: 480px) {
    .index-book {
        flex: 1 0 100%; /* Show 1 image at a time on very small screens */
    }
}


/* Book title/author name linked styling */
.name {
    color: #ffffff; 
    text-decoration: none; 
}

.name:hover {
    color: #3F648C;
}
