/* Basic reset to ensure consistent styling across browsers */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the body */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
  padding: 20px;
}


/* Navbar styles */
.navbar {
    background-color: #3F648C; /* Dark background color */
    padding: 10px 0; /* Vertical padding */
    display: flex;
    
}

.nav-list {
    list-style: none; /* Remove bullet points */
    display: flex;
    justify-content: left; /* Center the nav items */
}

.searchbar {
    display: flex;
    width: auto;
    justify-content: right;
    margin-left: auto;  
}

form {
    border: 1px;
    border-color: white;
    padding: 5px;
    margin: 5px;
}

.nav-item {
    margin: 0 15px; /* Horizontal spacing between items */
}

.nav-link {
    color: #E6EEF2; /* White text color */
    text-decoration: none; /* Remove underline */
    padding: 10px 15px; /* Padding around the text */
    display: block; /* Make the link block-level */
    transition: background-color 0.3s ease; /* Smooth background color change */
}

.nav-link:hover {
    background-color: #345479; /* Darker background on hover */
}




/* Styling of books and authors on book/author pages */

article {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between items */ 
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}


.book, .author {
    flex: 1 1 calc(25% - 20px); /* 4 items per row, accounting for gap */
    background-color: #84A9CD;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
}


img {
    height: 300px;
}




/* Image caraousel */

.carousel-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.index-book {
        background-color: #84A9CD;
        color: white;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
        font-size: 1.2rem;
        margin: 20px;
        
    }


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 24px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (max-width: 768px) {
    .index-book {
        flex: 1 0 50%; /* Show 2 images at a time on smaller screens */
    }
}

@media (max-width: 480px) {
    .index-book {
        flex: 1 0 100%; /* Show 1 image at a time on very small screens */
    }
}
