{% extends "base.html" %}

    {% block main %}
        <article>
            {% for author in authors %}
                <div class="author">
                    <img src="/static/authors/{{ author[0] }}" alt="{{ author[1] }}">
                    <a href="/author/{{author[4]}}" class="name">
                        <p>{{ author[1] }}</p>
                    </a>
                    <p>Age: {{author[2]}}</p>
                    <p>{{author[3]}}</p>
                </div>
            {% endfor %}
        </article>
        <article>
            {% for book in books %}
                <div class="authors_books">
                    <img src="/static/covers/{{ book[1] }}" alt="{{book[3]}}">
                    <a href="/book/{{book[2]}}" target="_blank" class="name">
                        <p>{{ book[0] }}</p>
                    </a>
                </div>
            {% endfor %}
        </article>
    {% endblock %}