{% extends "base.html" %}

    {% block main %}
        <article>
            {% for author in authors %}
                <div class="author">
                    <img src="/static/authors/{{ author[0] }}" alt="{{ author[1] }}">
                    <p>{{ author[1] }}</p>
                    <p>Age: {{author[2]}}</p>
                    <p>{{author[3]}}</p>
                </div>
            {% endfor %}
        </article>
        <article>
            {% for book in books %}
                <div class="authors_books">
                    <img src="/static/covers/{{ book[1] }}" alt="{{book[0]}} by {{authors[0][1]}}">
                    <p>{{ book[0] }}</p>
                </div>
            {% endfor %}
        </article>
    {% endblock %}