<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="static/css/style.css">
    </head>
    <nav class="navbar">
          <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/books" class="nav-link">Books</a></li>
            <li class="nav-item"><a href="/authors" class="nav-link">Authors</a></li>
          </ul>
      </nav>

    <body>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
            {% for author in authors %}
            <tr>
                {% for item in author[1:] %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
    
</html>