<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="static/css/style.css">
      <link rel="icon" type="image/x-icon" href="/static/icon/book_icon.png">
      <!--Study icons created by Ahmad Roaayala - Flaticon, https://www.flaticon.com/free-icons/study-->
      <title>Book Log</title>

    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/books" class="nav-link">Books</a></li>
                <li class="nav-item"><a href="/authors" class="nav-link">Authors</a></li>
            </ul>
            <div class="searchbar">
                <form method="POST" action="/search">
                    <input type="text" name="search" id="search" placeholder="Search all...">
                </form>
            </div>
        </nav>
        
        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>