<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
    <nav class="navbar">
          <ul class="nav-list">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/books" class="nav-link">Books</a></li>
            <li class="nav-item"><a href="/authors" class="nav-link">Authors</a></li>
          </ul>
      </nav>

    <body>
        <table>
            <tr>
                <th>Title</th>
                <th>Rating /5</th>
                <th>Genre</th>
                <th>Date Published</th>
                <th>Cover</th>
                <th>Author</th>
            </tr>
            
            {% for book in books %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ "★"*(book[1]) }}{{"☆"*(5-book[1]) }}</td>
                <td>{{ book[2] }}</td>
                <td>{{ book[3] }}</td>
                <td><img src="/static/covers/{{ book[4] }}" alt="{{book[0]}} by {{authors[loop.index0]}}"></td>
                <td>{{ authors[loop.index0] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>

</html>