{% extends "base.html" %}

    {% block main %}

        <div class="sort-dropdown">
            <button class="dropbtn">Sort</button>
            <div class="dropdown-content">
                <a href="{{ url_for('render_books', sort='title', order=order) }}">
                    Title
                    {% if request.args.get('sort') == 'title' %}
                        <img src="/static/icons/uparrow.png" class="sort-arrow" {% if request.args.get('order') == 'asc' %}style="transform: rotate(180deg);" {% endif %}>
                    {% endif %}
                </a>
                <a href="{{ url_for('render_books', sort='rating', order=order) }}">
                    Rating
                    {% if request.args.get('sort') == 'rating' %}
                        <img src="/static/icons/uparrow.png" class="sort-arrow" {% if request.args.get('order') == 'asc' %}style="transform: rotate(180deg);" {% endif %}>
                    {% endif %}
                </a>
                <a href="{{ url_for('render_books', sort='genre', order=order) }}">
                    Genre
                    {% if request.args.get('sort') == 'genre' %}
                        <img src="/static/icons/uparrow.png" class="sort-arrow" {% if request.args.get('order') == 'asc' %}style="transform: rotate(180deg);" {% endif %}>
                    {% endif %}
                </a>
                <a href="{{ url_for('render_books', sort='published', order=order) }}">
                    Published
                    {% if request.args.get('sort') == 'published' %}
                        <img src="/static/icons/uparrow.png" class="sort-arrow" {% if request.args.get('order') == 'asc' %}style="transform: rotate(180deg);" {% endif %}>
                    {% endif %}
                </a>
            </div>
        </div>
<!-- Up and down arrow icons created by Rahul Kaklotar - Flaticon, "https://www.flaticon.com/free-icons/up-and-down-arrow"-->
        <article>
            
            {% for book in books %}
            <div class="book">
                <img src="/static/covers/{{ book[3] }}" alt="{{book[0]}} by {{book[4]}}">
                <a href="/book/{{book[5]}}" class="name">
                    <p>{{ book[0] }}</p>
                </a>
                <a href="/author/{{book[4]}}" class="name">
                    <p>by {{ book[4] }}</p>
                </a>
                <p>{{ "★"*(book[1]) }}{{"☆"*(5-book[1]) }}</p>
                <p>{{ book[2] }}</p>
            </div>
            {% endfor %}
        </article>
    {% endblock %} 