{% extends "base.html" %}
    
    {% block main %}
        <div class="carousel-container">
            <button class="prev">❮</button>
            <div class="carousel">
                <div class="carousel-images">
                    {% for book in books %}
                    <div class="index-book">
                        <img src="/static/covers/{{ book[3] }}" alt="{{book[0]}} by {{book[4]}}">
                        <a href="/book/{{book[5]}}" target="_blank" class="name">
                            <p>{{ book[0] }}</p>
                        </a>
                        <a href="/author/{{book[4]}}" target="_blank" class="name">
                            <p>{{ book[4] }}</p>
                        </a>
                        <p>{{ "★"*(book[1]) }}{{"☆"*(5-book[1]) }}</p>
                        <p>{{ book[2] }}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <button class="next">❯</button>
        </div>
        <script src="static/script.js"></script>
    {% endblock %}