{% extends "base.html" %}
    
    {% block main %}
        <div class="carousel-container">
            <button class="prev">❮</button>
            <div class="carousel">
                <div class="carousel-images">
                    {% for book in books %}
                    <div class="index-book">
                        <img src="/static/covers/{{ book[4] }}" alt="{{book[0]}} by {{book[5]}}">
                        <p>{{ book[0] }}</p>
                        <p>by {{ book[5] }}</p>
                        <p>{{ "★"*(book[1]) }}{{"☆"*(5-book[1]) }}</p>
                        <p>{{ book[2] }}</p>
                        <p>Published: {{ book[3] }}</p>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            <button class="next">❯</button>
        </div>
        <script src="static/script.js"></script>
    {% endblock %}